[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "third_party/wideint"]
	path = third_party/wideint
	url = https://github.com/oldprincess/wideint.git
